Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
itsdangerous==0.24
numpy==1.9.1
requests==2.5.3
requests-cache==0.4.9
scipy==0.15.1
wsgiref==0.1.2
BeautifulSoup
service_identity
pycurl==7.19.0
twisted>=13
lockfile==0.9.1
pyOpenSSL==16.0.0
python-dateutil==2.2
pandas
