<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Setpoint Energy Savings Calculator</title>
    <meta name="description" content="" />
    <meta charset="utf-8" />
    {% block head %}

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/layout.css') }}"
    />

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/d3.min.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/underscore-min.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/bootstrap.min.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/bootstrap-slider.min.js') }}"
    ></script>

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/bootstrap-slider.css') }}"
    />

    {% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
